/* Header */

#logo-sony {
    width: 70px;
}

.chevron-color {
    width: 10px;
}


.button-color {
    background-color: rgb(54,54,54);
}

header form #lens {
    width: 20px;
    margin-left: 5px;
}


/* Main-jumbo */

#main-jumbo {
    background-image: url('img/jumbo-bg.png');
    height: 600px; 
    margin-top: 110px;
}

.jumbotron {
    background-position: top center; 
    background-size: cover;
    background-repeat: no-repeat;
}



/* <!-- Components Playstation  --> */

#components-playstation img {
    width: 110px;
    filter: opacity(0.5);
}



/* <!-- Adventure jumbo --> */

#adventure-jumbo {
    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
    padding-top: 50px;
}

#logo-adventure {
    width: 250px;
}

/* <!-- New games cards --> */
#games-card p{
    font-size: 14px;
    margin-top: 5px;
}

/* <!-- Play Station plus --> */

#playstation-plus {
    background-color: rgb(190,188,187);
}

#playstation-plus a {
    background-color: rgb(217,218,220);
    font-weight: bold;
}

#playstation-plus p {
    font-weight: 600;
}



/* <!-- PlayStation now --> */

#playstation-now {
    background-color: rgb(22,28,59);
}

#playstation-now a {
    color: rgb(22,28,59);
    font-weight: bold;
}
    

/* Footer */

footer {
    background-color: rgb(0,67,156);
}

footer .globe{
    width: 18px;
}

footer p, footer ul a {
    font-size: 13px;
}

footer ul a {
    text-decoration: none;
    color: white;
}

.sie-logo {
    width: 90px;
}


/* Bonus  */


#cards img {
    cursor:pointer; 
    transition: transform 0.5s;
}

#cards img:hover {
    transform: scale(1.05) translateY(-10px);
}

#components-playstation img:hover {
    width: 110px;
    filter: opacity(1);
}


#components-playstation .hover-text:hover > p {
    border-bottom: 1px solid blue;
}

.navbar-nav .nav-link.active {
    color: grey;
}

.nav-item:hover > a {
    color: black!important;
    font-weight: 500;
}
